* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FAFAFA;
    width: 100vw !important;
    height: 100%;
    padding: 0 5rem;
    overflow-x: hidden;
}
header {
    max-width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    word-wrap: wrap;
}
header h1 {
    font-family: 'PT Serif', serif;
}
.desc {
    width: 40%;
    font-family: 'Poppins', sans-serif;
}
.desc h3 {
    text-transform: uppercase;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 3rem;
}
.crew {
    width: 270px;
    height: 330px;
    position: relative;
}
.crew p:first-child {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    right: 0;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.crew p:last-child {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.crew img {
    width: 250px;
    height: 300px;
}
.odd {
    margin-top: 6rem;
}
@media (max-width: 1024px) {
    .crew {
        width: 250px;
        height: 300px;
    }
    .crew img {
        width: 230px;
        height: 270px;
    }
}
@media (max-width: 969px) {
    body {
        padding: 0 3rem;
    }
    .crew {
        width: 200px;
        height: 270px;
    }
    .crew img {
        width: 180px;
        height: 240px;
    }
}
@media (max-width: 798px) {
    body {
        padding: 0 3rem;
        width: 100vw;
        margin-bottom: 2rem;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: flex-start;
        gap: 2rem;
    }
    header {
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 1rem;
    }
    .desc {
        width: 50%;
    }
    .crew {
        width: 220px;
        height: 280px;
    }
    .crew:nth-child(even) {
        margin-top: 6rem;
    }
    .odd {
        margin-top: 0;
    }
    .crew img {
        width: 200px;
        height: 250px;
    }
}
@media (max-width: 600px) {
    body {
        padding: 0 1rem !important;
    }
    .desc {
        width: 100%;
    }
    .crew {
        width: 180px;
        height: 250px;
    }
    .crew img {
        width: 160px;
        height: 220px;
    }
}